@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ydUV00Z6iVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
